streamlit==1.37.0
streamlit-echarts==0.4.0
plotly==5.23.0
snowflake==0.11.0
snowflake-connector-python==3.12.0
snowflake-sqlalchemy==1.6.1
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
Jinja2==3.1.4
numpy==1.26.4
scikit-learn==1.5.1
SQLAlchemy==2.0.31
tensorflow==2.17.0
keras==3.4.1


